
# Verification Status

## Structure

`VerificationStatus`

## Fields

| Name | Type | Tags | Description |
|  --- | --- | --- | --- |
| `state` | [`VerificationStateEnum \| undefined`](../../doc/models/verification-state-enum.md) | Optional | - |
| `description` | `string \| undefined` | Optional | - |
| `requiredActions` | [`VerificationAction[] \| undefined`](../../doc/models/verification-action.md) | Optional | - |
| `history` | [`VerificationStatusHistory[] \| undefined`](../../doc/models/verification-status-history.md) | Optional | - |

## Example (as JSON)

```json
{
  "state": null,
  "description": null,
  "requiredActions": null,
  "history": null
}
```

